/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,button {
  color:var(--button-text,#000000);
  background-color:var(--button-background,transparent);
	border:var(--button-border,none);
	transition:filter 0.2s ease,transform 0.2s ease;
}

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,button:hover {
	filter:brightness(90%);
	transform:translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
	filter:var(--icon-filter,none);
}

/* Brand-Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default */
.button.button-default {
	--button-text:#ffffff;
	--button-background:#081A41;
	--button-border:1px solid #ffffff;
}

/* Instagram */
.button-instagram {
	--button-text:#ffffff;
	background-image:linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
}

/* Facebook */
.button-faceb {
	--button-text:#ffffff;
	--button-background:#0866FF;
}

/* TikTok */
.button-tiktok {
	--button-text:#ffffff;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* WhatsApp */
.button-whatsapp {
	--button-text:#ffffff;
	--button-background:#25d366;
}
